<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ggisland.clashon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ClashOn</name>
  <description>
    Clash on is a companion app for Clash of Clans.
  </description>
  <author email="adam@ggisland" href="http://ggisland.com/">
    GG Island
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Globalization">
    <param name="android-package" value="org.apache.cordova.globalization"/>
  </feature>
</widget>