<form novalidate name="signup.form" ng-init="vm.parent = welcome;">
  <div class="list list-inset">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon not-rounded"><i class="glyphicon glyphicon-user"></i></div>
        <input class="form-control not-rounded" type="text" placeholder="{{ 'USERNAME' | translate }}" name="username" ng-model="login.username" ng-focus="login.error = null;" required autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon not-rounded"><i class="glyphicon glyphicon-lock"></i></div>
        <input class="form-control not-rounded" type="email" placeholder="{{ 'EMAIL' | translate }}" name="email" ng-model="signup.email" ng-focus="signup.error = null;" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon not-rounded"><i class="glyphicon glyphicon-lock"></i></div>
        <input class="form-control not-rounded" type="password" placeholder="{{ 'PASSWORD' | translate }}" name="password" ng-model="login.password" ng-focus="login.error = null;" required ng-minlength="8">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-positive button-block" ng-disabled="signup.form.$invalid" ng-click="signup.doSignup()">{{ 'SIGNUP' | translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="button icon ion-social-facebook positive-bg light"></button>
      <button class="button icon ion-social-twitter positive-bg light"></button>
    </div>
  </div>
  <div class="row" ng-show="signup.error">
    <div class="col">
      <div class="error-message-wrapper" ng-bind="signup.error"></div>
    </div>
  </div>
</form>